    {{ form_start(form) }}
        <div class="row">
           <div class="col-sm-3">
            {{ form_row(form.name) }}
           </div>  
        </div>
        <div class="row">
           <div class="col-sm-3">
                {{ form_row(form.hoa) }}
           </div> 
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ form_row(form.balance) }}
           </div>  
        </div>
        <div class="row">
           <div class="col-sm-3">
                {{ form_row(form.type) }}
           </div>  
        </div>
        <div class="row">
           <div class="col-sm-3">
                {{ form_row(form.hoaReportCategory) }}
           </div>  
        </div>           

    {{ form_end(form) }}
