{% extends 'acct-base.html.twig' %}

{% block title %}LedgerAccount index{% endblock %}

{% block content %}
    <h1>LedgerAccount index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>View</th>
                <th>Name</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Start Balance</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for ledger_account in ledger_accounts %}
            <tr>
                <td><a href="{{ path('accounting_ledger_account_show', {'id': ledger_account.id}) }}">View</a></td>
                <td><a href="{{ path('accounting_transaction_new', {'creditAcctId': ledger_account.id, 'debitAcctId': ledger_account.id}) }}">Add Transaction</a></td>
                <td>{{ ledger_account.name }}</td>
                <td>{{ ledger_account.type }}</td>
                <td>{{ ledger_account.balance }}</td>
                <td>{{ ledger_account.startBalance }}</td>
                <td><a href="{{ path('accounting_ledger_account_edit', {'id': ledger_account.id}) }}">edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accounting_ledger_account_new') }}">Create new</a>
{% endblock %}
