    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.hoa) }}
       </div>        
    </div>
    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.dueDate) }}
       </div>        
    </div>
    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.postDate) }}
       </div>        
    </div>
{#    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.type) }}
       </div>        
    </div>  #}     
    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.amount) }}
       </div>        
    </div>
