<div class="banner">
    <div class="banner-container">
        <div class="container-body">
            <nav id="navbar flex-column" class="navbar navbar-expand-lg navbar-primary-subtle " style="background-color: #e3f2fd;">
                {% block navbar %}
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>                
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="navbar-nav">
                                {% block navitems %}
                                    <a class="nav-item nav-link" href="{{ path('hoa_index') }}">HOAs</a>
                                    <a class="nav-item nav-link" href="{{ path('building_index') }}">Buildings</a>
                                    <a class="nav-item nav-link" href="{{ path('maintenance_object_index') }}">Payments</a>
                                    <a class="nav-item nav-link" href="{{ path('maintenance_object_index') }}">Maintenance</a>
                                {% endblock %}
                            </div>

                        </div>
                        <div id="nav-user" class="nav-item dropdown navDropdown">
                            {%  if app.user %}
                                <a role="button" class="nav-link btn btn-primary dropleft dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    User
                                </a>
                                <div class="navDropdown dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" >{{ app.user.email }}</a>
                                    <a class="dropdown-item" >{{ app.user.roles[0] }}</a>
                                    <a class="dropdown-item nav-link" href="/logout">Logout</a>
                                </div>
                            {%  elseif app.request.get('_route') == "login" %}
                                <div class="dropdown-item nav-link"><a href="{{  path('app_register') }}">Register</a></div>
                            {%  else %}
                                <div class="dropdown-item nav-link"><a href="{{  path('login') }}">Login</a></div>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            </nav>
        </div>
    </div>
</div>
