{% extends 'acct-base.html.twig' %}

{% block title %}LedgerType List{% endblock %}

{% block content %}
    {{  parent() }}    
    <h1>Ledger Type List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>View</th>
                <th>Name</th>
                <th>IsDebit</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for ledger_type in ledger_types %}
            <tr>
                <td><a href="{{ path('accounting_ledger_type_show', {'id': ledger_type.id}) }}">View</a></td>
                <td>{{ ledger_type.name }}</td>
                <td>{{ ledger_type.isDebit ? 'Yes' : 'No' }}</td>
                <td><a href="{{ path('accounting_ledger_type_edit', {'id': ledger_type.id}) }}">Edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accounting_ledger_type_new') }}">Create new</a>
{% endblock %}
