{% extends 'acct-base.html.twig' %}

{% block title %}LedgerType{% endblock %}

{% block content %}
    <h1>LedgerType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ledger_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ledger_type.name }}</td>
            </tr>
            <tr>
                <th>IsDebit</th>
                <td>{{ ledger_type.isDebit ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('accounting_ledger_type_index') }}">back to list</a>

    <a href="{{ path('accounting_ledger_type_edit', {'id': ledger_type.id}) }}">edit</a>

    {{ include('accounting/ledger_type/_delete_form.html.twig') }}
{% endblock %}
