{% extends 'admin-base.html.twig' %}

{% block title %}SystemSettings index{% endblock %}

{% block body %}
    <h1>SystemSettings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>LastUpdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for system_setting in system_settings %}
            <tr>
                <td>{{ system_setting.id }}</td>
                <td>{{ system_setting.name }}</td>
                <td>{{ system_setting.value }}</td>
                <td>{{ system_setting.lastUpdate ? system_setting.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('system_settings_show', {'id': system_setting.id}) }}">show</a>
                    <a href="{{ path('system_settings_edit', {'id': system_setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('system_settings_new') }}">Create new</a>
{% endblock %}
