{% extends 'base.html.twig' %}

{% block title %}SystemSettings{% endblock %}

{% block body %}
    <h1>SystemSettings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ system_setting.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ system_setting.name }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ system_setting.value }}</td>
            </tr>
            <tr>
                <th>LastUpdate</th>
                <td>{{ system_setting.lastUpdate ? system_setting.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('system_settings_index') }}">back to list</a>

    <a href="{{ path('system_settings_edit', {'id': system_setting.id}) }}">edit</a>

    {{ include('system_settings/_delete_form.html.twig') }}
{% endblock %}
