{{ form_start(form) }}
    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.date) }}
       </div>        
    </div>
    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.creditAccount) }}
       </div>        
    </div>
    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.debitAccount) }}
       </div>        
    </div>
    <div class="row">
       <div class="col-sm-3">
        {{ form_row(form.amount) }}
       </div>        
    </div>
{#        {{ form_widget(form) }}#}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}