{% extends 'acct-base.html.twig' %}

{% block title %}Transaction List{% endblock %}

{% block content %}
    <h1>Transaction List</h1>
    <div class="button-list">
        <a class="btn btn-primary" href="{{ path('app_accounting_owner_invoice_dues') }}">Generate Owner Dues</a>
        <a class="btn btn-primary" href="{{ path('app_accounting_owner_invoice_assessments') }}">Generate Owner Assessments</a>
        <a class="btn btn-primary" href="{{ path('app_accounting_owner_invoice_new') }}">Generate Owner Invoice</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>View</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Debit Account</th>
                <th>Credit Account</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td><a href="{{ path('accounting_transaction_show', {'id': transaction.id}) }}">View</a></td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.amount|format_currency('USD') }}</td>
                <td><a href="{{ path('accounting_ledger_account_show', {'id': transaction.debitAccount.id}) }}">{{ transaction.debitAccount }}</a></td>
                <td><a href="{{ path('accounting_ledger_account_show', {'id': transaction.creditAccount.id}) }}">{{ transaction.creditAccount }}</a></td>
                <td><a href="{{ path('accounting_transaction_edit', {'id': transaction.id}) }}">Edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accounting_transaction_new') }}">Create new</a>
{% endblock %}
