{% extends 'admin-base.html.twig' %}

{% block title %}HOA index{% endblock %}

{% block content %}
    <h1>HOA index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Admin Name</th>
                <th>Admin Phone</th>
                <th>Admin Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hoa in hoas %}
            <tr>
                <td>{{ hoa.id }}</td>
                <td>{{ hoa.name }}</td>
                <td>{{ hoa.adminName }}</td>
                <td>{{ hoa.adminPhone }}</td>
                <td>{{ hoa.adminEmail }}</td>
                <td>
                    <a href="{{ path('hoa_show', {'id': hoa.id}) }}">show</a>
                    <a href="{{ path('hoa_edit', {'id': hoa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hoa_new') }}">Create new</a>
{% endblock %}
