{% extends 'admin-base.html.twig' %}

{% block title %}HOA{% endblock %}

{% block content %}
    <h1>HOA</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hoa.id }}</td>
            </tr>
            <tr>
                <th>HOA Name</th>
                <td>{{ hoa.name }}</td>
            </tr>
            <tr>
                <th>Admin Name</th>
                <td>{{ hoa.adminName }}</td>
            </tr>
            <tr>
                <th>Admin Phone</th>
                <td>{{ hoa.adminPhone }}</td>
            </tr>
            <tr>
                <th>Admin Email</th>
                <td>{{ hoa.adminEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hoa_index') }}">back to list</a>

    <a href="{{ path('hoa_edit', {'id': hoa.id}) }}">edit</a>

    {{ include('hoa/_delete_form.html.twig') }}
{% endblock %}
