{% extends 'acct-base.html.twig' %}

{% block title %}HoaReportCategory index{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Hoa Report Category List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Ordering</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hoa_report_category in hoa_report_categories %}
            <tr>
                <td>{{ hoa_report_category.id }}</td>
                <td>{{ hoa_report_category.category }}</td>
                <td>{{ hoa_report_category.ordering }}</td>
                <td>
                    <a href="{{ path('app_accounting_hoa_report_category_show', {'id': hoa_report_category.id}) }}">show</a>
                    <a href="{{ path('app_accounting_hoa_report_category_edit', {'id': hoa_report_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_accounting_hoa_report_category_new') }}">Create new</a>
{% endblock %}
