{% extends 'admin-base.html.twig' %}

{% block title %}Edit Owner{% endblock %}

{% block content %}
    <h1>Edit Owner</h1>
    {{ form_start(form) }}
        <div class="row">
           <div class="col-sm">
            {{ form_row(form.name) }}
           </div>        
           <div class="col-sm">
            {{ form_row(form.startDate) }}
           </div>        
           <div class="col-sm">
            {{ form_row(form.endDate) }}
           </div>        
        </div>
        <div class="row">
           <div class="col-sm">
                {{ form_row(form.address) }}
           </div>        
        </div>
        <div class="row">
           <div class="col-sm">
                {{ form_row(form.address2) }}
           </div>        
        </div>
        <div class="row">
           <div class="col-sm">
                {{ form_row(form.city) }}
           </div>        
           <div class="col-sm">
                {{ form_row(form.state) }}
           </div>        
           <div class="col-sm">
                {{ form_row(form.zip) }}
           </div>        
        </div>
        <div class="row">
           <div class="col-sm">
            {{ form_row(form.phone) }}            
           </div>        
           <div class="col-sm">
                {{ form_row(form.email) }}
           </div>        
        </div>
        <div class="row">
            <label >Units Owned</label>
            <div class="col-sm-1">
                <label >Unit</label>
            </div>
            <div class="col-sm-2">
                <label >Purchase Date</label>
            </div>
            <div class="col-sm-2">
                <label >Sold Date</label>
            </div>
        </div>
        <div class="row">
            {% for ou in owner.ownerUnits %}
                <div class="col-sm-1">
                    {{ ou.unit.unitNumber }}
                </div>
                <div class="col-sm-2">
                    {{ ou.startDate|date('Y-m-d')}}
                </div>
                <div class="col-sm-2">
                    {{ ou.endDate|date('Y-m-d')}}
                </div>
            {% endfor %}
        </div>
{#    {{ include('owner/_form.html.twig', {'button_label': 'Update'}) }}#}
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
                <a class="btn btn-info" href="{{ path('app_owner_index') }}">back to list</a>
                {{ include('owner/_delete_form.html.twig') }}
            </div>
        </div>    
{% endblock %}
