{% extends 'admin-base.html.twig' %}

{% block title %}Owner List{% endblock %}

{% block content %}
    <h1>Owner index</h1>
    <form id="owner_index_form">
        <div form-control row>
            <label for="search">Search By Unit Number or Owner Name</label>
            <input type="text" id="search" name="search">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Unit</th>
                <th>Name</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Address</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
                <tr>
                    <td>{{ owner.unit }}</td>
                    <td><a href="{{ path('owner_edit', {'id': owner.id}) }}">{{ owner.name }}</a></td>
                    <td>{{ owner.startDate ? owner.startDate|date('Y-m-d') : '' }}</td>
                    <td>{{ owner.endDate ? owner.endDate|date('Y-m-d') : '' }}</td>
                    <td>{{ owner.address }} {{ owner.address2 }}<br/>{{ owner.city }}, {{ owner.state }} {{ owner.zip }} {{ owner.country}}</td>
                    <td>{{ owner.phone }}</td>
                    <td>
                        <a href="{{ path('owner_show', {'id': owner.id}) }}">show</a>
                        <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('owner_new') }}">Create new</a>
{% endblock %}
