{% extends 'admin-base.html.twig' %}

{% block title %}Owner{% endblock %}

{% block body %}
    <h1>Owner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ owner.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ owner.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ owner.lastname }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ owner.startDate ? owner.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndData</th>
                <td>{{ owner.endData ? owner.endData|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('owner_index') }}">back to list</a>

    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>

    {{ include('owner/_delete_form.html.twig') }}
{% endblock %}
