{% extends 'admin-base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block content %}
    {{  parent() }}
    <div class="wrapper">
        <h1>Admin Dashboard for {{ app.user.name }}</h1>
        <div class="section-break">&nbsp;</div>
        <div class="container">
            <div class="row">
                <h4>Active HOA:  {{ activeHoa }} 
                    <a class="btn btn-primary" role="button" href="{{ path("user_select_hoa", {'target': app.request.attributes.get('_route')}) }}">Change</a>
                </h4>
            </div>
            <div class="row">
                <div class="col-sm card">
                    <div class=card-header>
                        <span>Last 10 Transactions</span>
                        <span><a class="btn btn-primary" role="button" href="{{ path('accounting_transaction_new') }}">Add Transaction</a>
                    </div>
                    <div class="cardlist-body">                        
                        <div class="">
                            {{  include('accounting/transaction/transactionTable.html.twig',{'accounts': activeHoa.ledgerAccounts }) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm card">
                    <div class=card-header>
                        <span>Service Requests</span>
                        <span><a class="btn btn-primary" role="button" href="{{ path('app_request_new') }}">Add Request</a>
                    </div>
                    <div class="cardlist-body">
                        {% for request in requests %}
                        <div class="row">
                            <div class="col left">{{ request.status }}</div>
                            <div class="col left">{{ request.subject }}</div>
                            <div class="col">{{ request.createdDate|date("Y-m-d") }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>  
                <div class="col-sm card">
                    <div class=card-header>
                        <span>Unit Information</span>
                        <span><a class="btn btn-primary" role="button" href="{{ path('app_owner_change1') }}">Change an Owner</a>
                    </div>                    
                    <div class="cardlist-body">                        
                        {% for building, cnt in unitCnts %}
                            {%  if building != "Total" %}
                                <div class="row">
                                    <div class="col-sm left">
                                        {{ cnt }} Units in Building <strong>{{ building }}</strong><br>
                                    </div>
                                </div>
                            {%  endif %}
                        {%  endfor %}
                        <div class="row">
                            <div class="col-sm left">
                                {{ unitCnts.Total }} Units in <strong> All Buildings</strong><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
