{% extends 'admin-base.html.twig' %}

{% block title %}Unit index{% endblock %}

{% block content %}
    <h1>Unit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Building</th>
                <th>Id</th>
                <th>UnitNumber</th>
                <th>Sf</th>
                <th>Beds</th>
                <th>Baths</th>
                <th>LastSaleData</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit in units %}
            <tr>
                <td>{{ unit.building }}</td>
                <td>{{ unit.unitNumber }}</td>
                <td>{{ unit.sf }}</td>
                <td>{{ unit.beds }}</td>
                <td>{{ unit.baths }}</td>
                <td>{{ unit.lastSaleData ? unit.lastSaleData|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('unit_show', {'id': unit.id}) }}">show</a>
                    <a href="{{ path('unit_edit', {'id': unit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unit_new') }}">Create new</a>
{% endblock %}
