{% extends 'admin-base.html.twig' %}

{% block title %}Unit List{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Unit Search</h1>
    <form id="unit_index_form">
        <div class="row form-group">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-2">
                <label for="search">Filter by Building</label>
            </div>
            <div class="col-sm-2">
                <select class="form-control" id="buildingId" name="buildingId">
                    <option name='choose' value=''>Choose</option>
                    {% for building in buildings %}
                        <option name="{{ building.name}}" value="{{ building.id }}" {{ query.buildingId == building.id ? 'selected' }}>{{ building.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>        
        <div class="row form-group">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-2">
                <label for="search">Search By Unit Number</label>
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" id="unitSearch" name="unitSearch" value = {{ query.unitSearch }}>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-2">
                <label for="search">Search By Unit Owner Name</label>
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" id="ownerSearch" name="ownerSearch" value = {{ query.ownerSearch }}>
            </div>
        </div>

        <div  class="row ">
            <div class="col-sm-3">&nbsp;</div>
            <button class="col-sm-2 btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
            <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Unit Number</th>
                <th>Description</th>
                <th>Beds</th>
                <th>Baths</th>
                <th>Current Owner</th>
            </tr>
        </thead>
        <tbody>
        {% for unit in units %}
            <tr>
                <td><a href="{{ path('unit_edit', {'id': unit.id}) }}">{{ unit.unitNumber }}</a></td>
                <td>{{ unit.description }}</td>
                <td>{{ unit.beds }}</td>
                <td>{{ unit.baths }}</td>
                {% if unit.ownerUnits %}
                    <td class="left">
                    {% for ownerUnit in unit.ownerUnits %}
                        {%  if ownerUnit.ownPercent != 100 %}({{ownerUnit.ownPercent}}) {% endif %}
                        {{ ownerUnit.owner.name}} (
                        {% if ownerUnit.endDate %}
                            from {{ ownerUnit.startDate|date('Y-m-d')  }} to {{ ownerUnit.endDate|date('Y-m-d') }}
                        {% else %}
                            current owner from {{ ownerUnit.startDate|date('Y-m-d')  }} 
                        {% endif %}
                        )
                        {% if not loop.last %}<br>{% endif %}
                    {%  endfor %}
                    </td>
                {%  else %}
                    <td>no current owner found</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('unit_new') }}">Create new</a>
{% endblock %}
