{% extends 'admin-base.html.twig' %}

{% block title %}Unit{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Unit</h1>
    {% set lastSaleDate = '' %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unit.id }}</td>
            </tr>
            <tr>
                <th>UnitNumber</th>
                <td>{{ unit.unitNumber }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ unit.description }}</td>
            </tr>
            <tr>
                <th>Sf</th>
                <td>{{ unit.sf }}</td>
            </tr>
            <tr>
                <th>Beds</th>
                <td>{{ unit.beds }}</td>
            </tr>
            <tr>
                <th>Baths</th>
                <td>{{ unit.baths }}</td>
            </tr>
                {% if unit.unitOwners %}
                    <th>Previous Owners</th>
                    <td >
                    {% for ownerUnit in unit.unitOwners %}
                        {%  if ownerUnit.ownPercent != 100 %}({{ownerUnit.ownPercent}}) {% endif %}
                        {{ ownerUnit.owner.name}} (
                        {% if ownerUnit.endDate %}
                            from {{ ownerUnit.startDate|date('Y-m-d')  }} to {{ ownerUnit.endDate|date('Y-m-d') }}
                        {% else %}
                            current owner from {{ ownerUnit.startDate|date('Y-m-d')  }} 
                            {% set lastSaleDate = ownerUnit.startDate|date('Y-m-d') %}
                        {% endif %}
                        )
                        {% if not loop.last %}<br>{% endif %}
                    {%  endfor %}
                {% endif %}
                    </td>            
            <tr>
                <th>LastSaleData</th>
                <td>{{ lastSaleDate ? lastSaleDate : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('unit_index') }}">back to list</a>

    <a href="{{ path('unit_edit', {'id': unit.id}) }}">edit</a>

    {{ include('unit/_delete_form.html.twig') }}
{% endblock %}
