        <div class="row">
           <div class="col-sm-12 mb-3">
            {{ form_row(form.subject) }}
           </div>  
        </div>
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.status) }}
           </div> 
        </div> 
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.type) }}
           </div> 
        </div>
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.createdDate) }}
           </div> 
        </div>
    {% if form.completedDate is empty %}
        {% do form.completedDate.setRendered() %}
    {% else %}
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.completedDate) }}
           </div> 
        </div>           
    {% endif %}           
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.note) }}
           </div> 
        </div>                