        <div class="row">
           <div class="col-sm-12 mb-3">
            {{ form_row(form.subject) }}
           </div>  
        </div>
        <div class="row">
           <div class="col-sm-6 mb-3">
                {{ form_row(form.status) }}
           </div>
          {% if (form.vars.value.status != "Complete") %}
           <div class="col-sm-3 mb-3">
                <br>{{ form_row(form.markComplete) }}
           </div> 
           {% endif %}
        </div> 
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.type) }}
           </div> 
        </div>
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.createdDate) }}
           </div> 
        </div>
    {% if form.completedDate is empty %}
        {% do form.completedDate.setRendered() %}
    {% else %}
        <div class="row">
           <div class="col-sm-12 mb-3">
                {{ form_row(form.completedDate) }}
           </div> 
        </div>           
    {% endif %}         
    <h3>Notes</h3>
    {%  for note in notes  %}   
        <div class="row">
           <div class="col-sm-3 mb-3">
                {{ note.date|date("Y-m-d") }}
           </div> 
           <div class="col-sm-3 mb-3">
                {{ note.addedBy }}
           </div> 
           <div class="col-sm-6 mb-3">
                {{ note.note }}
           </div> 
        </div>
    {% endfor %}
    {% do form.notes.setRendered() %}
