{% extends 'owner-base.html.twig' %}

{% block title %}Reply to Message{% endblock %}

    {%  block content %}
    {{  parent() }}
{{ form_start(form) }}

    <h1>Owner Message Reply - {{ app.user.name }} #{{ app.user.id }}</h1>
    <div class="form">
    {{ include('owner_self/_form-request-reply.html.twig', {'button_label': 'Update'}) }}
    <div  class="row ">
        <div class="col-sm-3">&nbsp;</div>
        <button class="col-sm-2 btn btn-primary" type="submit">Submit</button>
    </div>
{{ form_end(form) }}
    <a href="{{ path('app_message_index') }}">back to list</a>
    </div>
{% endblock %}        
